<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ConnectionStrinxxxxxxxxxxxxxxxxg" value="Persist Security Info=True;Data Source=R\SQLEXPRESS2012;Initial Catalog=ICW; Integrated Security=SSPI; trusted_connection=Yes;"></add>
    <add key="ConnectionString" value="Data Source=ICW-test;Initial Catalog=ICW;Persist Security Info=True;User Id=sa;Password=4CARLOS?; "></add>  
    <add key="SshHostKeyFingerPrint" value="ssh-rsa 1024 88:75:94:38:92:8a:3a:8e:6f:e6:89:21:12:2a:28:71"></add> 
  </appSettings>
  
</configuration>